h1 {
    font-size: 37px;

    color: #000000;

    font-family: Tahoma, Helvetica, sans-serif;
    
    line-height: 46px;

    font-weight: normal;
} 

.CentrarTexto {
    text-align: center;
}





h2 {
    font-size: 25px;

    line-height: 38px;

    font-family: Tahoma, Helvetica, sans-serif;

    font-weight: normal;

}




img{
    width: 50%;
    height: 100%;
    display: block;
    border-radius: 40px;
    box-shadow: 5px 5px 0px #ccc;
}





p {
    line-height: 27px;
    color: #333; 
    font-weight: normal;
}






* {
    font-family:Verdana, Geneva, sans-serif;

    font-size: 18px;

    font-weight: 900 px;

}



